<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/images/favicon.ico" rel="shortcut icon"/>

    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"-->
          <!--th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen" />-->

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.js}"></script>

    <link href="../../../webapp/static/css/bootstrap_paper.css"
          th:href="@{/css/bootstrap_paper.css}" rel="stylesheet" media="screen"/>

    <link href="../../../webapp/static/css/astonengineer.css"
          th:href="@{/css/astonengineer.css}" rel="stylesheet" media="screen"/>
</head>
<body>

</body>
</html>